body{
	background-color: black;
	margin: 0;
	padding: 0;
	color: white;
}

.logo{
	width: 6%;
	float: left;
	margin-top: 10px;
	margin-left: 540px;
}

h1{
	font-family: 'Lobster', cursive;
	color: white;
	text-align: center;
	font-size: 60px;
	margin-top: 30px;
}

ul li{
	margin-left: 50px;
	display: inline-block;
	font-style: none;
	margin-top: 80px;
	color: white;
	text-decoration: none;
}

a{
	color: white;
	text-decoration: none;
}

.droite{
	margin-left: 1250px;
	margin-top: -100px;
}

hr{
	width: 90%;
	margin-top: -80px;
}



img{
	width: 80%;
	margin-top: 50px;
	position: absolute;
	margin-left: 180px;
}

footer{
	margin-top: 1050px;
}

.facebook{
	width: 20% 
	margin-left: 60px;
}

.instagram{
	width: 20%; 
	margin-left: 120px;
	margin-bottom: 120px;
}

.twitter{
	width: 20%; 
	padding-left: 240px;
}

.carousel-indicators{
	margin-top: 1000px
}

.item active{
	margin-top: 10px;
}

div{
	margin-left: 90px;
	display: inline;
}

p{
	float: right;
	margin-right: 85px;
	margin-top: -60px; 
}

.bas{
	margin-bottom: 80px;
}

header h1{
    text-align: center;
}

/* css d'Eva pour inscription */

header h2{
    font-size: 1em;
}

.coach{

    display:block;
    width:150px;
    height: 150px;
}


/*css pour presenstation*/
div #pres {
	display: inline-block;
	margin-top: 0;
	position: relative;
}

#imgpres{
	width: 30%;
	display: inline-block;
	margin-top: 0;
	position: relative;
}

fieldset{
	margin-top: 70px;
	margin-left: 90px;
}

legend{
	color: white;
	text-decoration: none;
}

.deux{
	display: inline-block;
}

.trait{
	position: absolute;
	width: 1700px;
	margin-top: 22px;
}


input{
	background-color: black;
	width: 250px;
	height: 25px;
	border-radius: solid 1px white;
	color: white;
	border: 50px;
}
